.MainHeader {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-weight: 700;
}

.Button {
  margin-bottom: 40px;
}

.MainCards {
  width: 18rem;
  display: inline-block;
  text-align: left;
}
