#instructions,
#password {
  margin-top: 10px;
}

#characters {
  border: 1px solid #1e90ff;
  padding: 5px;
  border-radius: 2px;
  letter-spacing: 1px;
}

#pw-btn {
  border: none;
  padding: 10px;
  border-radius: 2px;
  background-color: #1e90ff;
  color: #ffffff;
  letter-spacing: 1px;
}

#pw-btn:active {
  background-color: #ffffff;
  color: dodgerblue;
  border: none;
  outline-color: #1e90ff;
}

/* #pw-btn:hover {
  background-color: #40a1ff;
  color: #ffffff;
} */

#pw-btn:enabled {
  outline-color: #1e90ff;
}

#warning {
  color: #f11;
}
