#instructions {
  margin-top: 10px;
}

#characters {
  border: 1px solid #1e90ff;
  padding: 5px;
  border-radius: 2px;
  letter-spacing: 1px;
}

#pw-btn {
  border: none;
  padding: 10px;
  border-radius: 2px;
  background-color: #1e90ff;
  color: #ffffff;
  letter-spacing: 1px;
}

#pw-btn:active {
  background-color: #ffffff;
  color: dodgerblue;
  border: none;
  outline-color: #1e90ff;
}

#pw-btn:enabled {
  outline-color: #1e90ff;
}

.pw-div {
  margin-top: 10px;
}

#copy-icon {
  display: none;
}

.fa-copy:before {
  margin-right: 5px;
  cursor: pointer;
}

.fa-copy:active {
  color: #1e90ff;
}

#password {
  display: inline-block;
}

#warning {
  margin-top: 10px;
  color: #f11;
}

.copy-msg {
  color: #1e90ff;
}
